<mat-toolbar>
  <div style="margin: 0 auto; display: flex;">
    <div style="padding-right: 1em;">
      <a class="trijosh-title" href="https://app.trijosh.net/app/" mat-button>
        <img class="icon" src="assets/yardlineTicketsIcon.JPG" alt=""/>
      </a>
    </div>
    <div>
      <a mat-button href="https://app.trijosh.net/app/alerts">Alerts</a>
      <a mat-button href="https://app.trijosh.net/app/arb">Arb</a>
      <a mat-button href="https://app.trijosh.net/app/bids">Bids</a>
      <a mat-button href="https://app.trijosh.net/app/buys">Buys</a>
      <a mat-button href="https://app.trijosh.net/app/events">Events</a>
      <a mat-button href="https://app.trijosh.net/app/orders">Orders</a>
      <a mat-button href="https://app.trijosh.net/app/owned-inventory">Owned</a>
      <a mat-button href="https://app.trijosh.net/app/rates" class="is-active">Rates</a>
      <a mat-button href="https://app.trijosh.net/app/sales">Sales</a>
    </div>
    <div style="padding-left: 5em;">
      <a mat-button>Dalton</a>
    </div>
  </div>
</mat-toolbar>
